html {
  background-color: #1f2937;
}

body {
  margin: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Inter, sans-serif;
}

.wrapper {
    width: 500px;
}

.wrapper h1 span {
    display: block;
    color: #4ADF86;
}

h1 {
    font-family: Karla, sans-serif;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 0;
    font-size: 40px;
}

.wrapper p {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 50px;
    color: #D5D4D8;
}

.wrapper button {
    font-family: Inter, sans-serif;
    border: none;
    color: #fff;
    background-color: #10B981;
    border-radius: 6px;
    padding: 9px 16px;
    font-weight: 400;
}

.wrapper button:hover {
    background-color: #306251;
    cursor: pointer;
}

.password-container {
    border-top: 2px solid #2f3e53;
    padding-top: 35px;
    margin-top: 45px;
    display: flex;
    gap: 24px;
}

.password {
    flex: 1;
    border-radius: 6px;
    height: 40px;
    background-color: #273549;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
}
